/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
*.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.code-workspace
.scribe
/composer.phar
/.scannerwork/.sonar_lock
/public/docs/collection.json
/docker-compose.yml
/qodana.yaml
/.scannerwork/report-task.txt
/sonar-project.properties
